/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: 'Arial', sans-serif;
}

/* Estilo do cabeçalho */
header {
  background-color: rgba(250,250,250,255);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

header h1 {
  color: #000000;
  font-family: Arial, sans-serif;
  font-size: 24px;
  text-decoration: none;
}
a{
  text-decoration: none;
}


header nav {
  display: flex;
  align-items: center;
}

header nav a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  margin: 10px;
}

header nav img {
  width: 25;
  text-decoration: none;
  margin: 10px;
}

header nav a:hover {
  color: #ccc;
}



/* Estilo principal */
main {
  padding: 20px;
  background-color: #fff;
}

.page-title {
  color: #007bff;
  text-align: center;
  margin-bottom: 20px;
}

/* Carrinho vazio */
.empty-cart {
  text-align: center;
  margin-bottom: 20px;
}

.empty-cart h3 {
  color: #333;
  margin: 10px 0;
}

.txt-empty {
  color: #666;
  margin-bottom: 20px;
}

#voltar {
  display: inline-block;
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

#voltar:hover {
  background-color: #0056b3;
}

/* Lista de produtos */
.product-list {
  display: flex;
  flex-direction: column;
}

.product-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding: 10px 0;
}

.product-item img {
  width: 100px;
  height: auto;
  border-radius: 3px;
  margin-right: 20px;
}

.product-info {
  flex-grow: 1;
}

.product-info h2 {
  color: #333;
  margin-bottom: 5px;
}

.product-controls {
  display: flex;
  align-items: center;
  float: inline-end;
}

.quantity-btn {
  padding: 5px 10px;
  margin: 0 5px;
  border-radius: 3px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.remove-btn {
  padding: 5px 10px;
  background-color: #dc3545;
  border-radius: 3px;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* Resumo da compra */
.box-extern{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 32px;
}

.box {
  display: none;
  width: 50%;
  padding: 15px;
  background-color: #f7f7f7;
  border: 1px solid #dee2e6;
}



.box header,
.box footer {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  font-weight: bold;
}

/* Botão de finalizar compra */
#btn-finalizar {
  display: none;
  width: 40%;
  padding: 15px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background-color: #218838;
}

/* Rodapé */
footer {
  background-color: #343a40;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer-middle {
  display: flex;
  justify-content: space-around;
  padding-bottom: 20px;
}

.item-list h4 {
  margin-bottom: 10px;
}

.item-list ul {
  list-style: none;
}

.item-list li {
  margin-bottom: 5px;
}

.rodape-direitos {
  font-size: 0.75em;
  margin-top: 20px;
}
