body {
    font-family: Arial, sans-serif;
    background-color: #FFFFFF;
    background-image: url('../img/bg/bg_login5.png');
    background-repeat: no-repeat;
    background-size: 98%;
    margin: 0;
    padding: 0;
}


/* Estilo do cabeçalho */
header {
    background-color: #3eecad;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

header h1 {
    color: #000000;
    font-family: Arial, sans-serif;
    font-size: 24px;
}


/* CSS Busca */
header .header-search {
    padding-top: 0px;
    margin-top: -3px;
    color: #fff;
}
header .header-search .search {
    width: 312px;
    position: relative;
    z-index: 13;
    color: #fff;
}
header .header-search .search .search-group {
    border: none;
    padding: 5px 0px 5px 0px;
    width: 100%;
    height: 28px;
    background-color: transparent;
    color: #fff;
}
header .header-search .search .search-group .search-input {
    width: 90%;
    height: 28px;
    font-size: 12px;
    padding: 0 32px 0px 5px;
    float: right;
    outline: none;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 2em;
    padding-left: 10px;
    border: none;
    -webkit-transition: width 0.2s ease;
    -moz-transition: width 0.2s ease;
    -o-transition: width 0.2s ease;
    transition: width 0.2s ease;
    float: left;
    background-color: rgba(255, 255, 255, 0.5);
    color: #fff;
}
header .header-search .search .search-group .search-button {
    width: 10%;
    height: 28px;
    background: #000000;
    color: #fff;
    top: 5px;
    right: 0;
    padding: 1px 0 0 0;
    cursor: pointer;
    outline: none;
    font-size: 14px;
    border: 1px solid #000;
    float: right;
}


header nav {
    display: flex;
    align-items: center;
}

header nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin: 10px;
}

header nav img {
    width: 25;
    text-decoration: none;
    margin: 10px;
}

header nav a:hover {
    color: #ccc;
}


/*formulário*/
.login-container {
    width: 300px;
    margin: 100px auto;
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-top: 15px;
}

.register-class {
    display: flex;
    flex-direction: row;
}

.register-class h3{
    font-size: smaller;
    padding-left: 4px;
}
.other-access{
    display: flex;
    flex-direction: column;
}
#other-access-imgs{
    display: flex;
    flex-direction: row;
    align-self: center;
}

#other-access-imgs img {
    width: 25;
    text-decoration: none;
    margin: 10px;
    padding-left: 4px;
    padding-right: 4px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    align-self: center;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #070707;
    border-radius: .5em;
    
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background-color: #3eecad;
    color: black;
    font-size: 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
button:hover {
    background-color: #33d79b;
}



/* Estilo responsivo para telas menores que 768px */
@media (max-width: 768px) {
    main {
        grid-template-columns: repeat(2, 1fr);
    }
}