body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
main{
    background-color: #fff;
    background-image: url('../img/bg/bg_login5.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

/* Estilo do cabeçalho */
header {
    background-color: rgba(250,250,250,255);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

header h1 {
    color: #000000;
    font-family: Arial, sans-serif;
    font-size: 24px;
    text-decoration: none;
}
a{
    text-decoration: none;
}


/*formulário*/
.compra-container {
    width: 50%;
    margin: 50px auto;
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

h2 {
    text-align: center;
    color: #333;
}

input[type="text"],
input[type="password"],
input[type="tel"],
select {
    width: 95%;
    padding: 10px;
    margin-top: 1opx;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    border-radius: .5em;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background-color: #000000;
    color: rgb(255, 255, 255);
    font-size: 15px;
    border: none;
    border-radius: .5em;
    cursor: pointer;
}
button:hover {
    background-color: #33d79b;
}

/* Estilo responsivo para telas menores que 768px */
@media (max-width: 768px) {
    main {
        grid-template-columns: repeat(2, 1fr);
    }
}

.container-modal{
    position: relative;
    min-height: 20vh;
}

.container-modal .modal{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 10px;

}
.container-modal .modal .img{
    height: 250px;
    width: 350px;
    border: 10px;
    overflow: hidden;
    cursor: pointer;
}
.container-modal .modal .image img{
    height: 100px;
    width: 150px;
    object-fit: cover;
    transition: .2s linear;
}

.pagamento {
    display: ruby-text;
    padding: 10px;
}
/* .container-modal .popup-image{
    position: fixed;
    top: 0; left: 0;
    background: rgba(0, 0, 0, .9);
    z-index: 100;
    display: none;
}
.container-modal .popup-image span{
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 60px;
    font-weight: bolder;
    color: #fff;
    cursor: pointer;
    z-index: 100;
}
.container-modal .popup-image img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #fff;
    border-radius: 5px;
    object-fit: cover;
} */
