* {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
main{
  background-color: #fff;
  margin-top: 10px;
  width: 100%;
}

/* Estilo do cabeçalho */
header {
  background-color: rgba(250,250,250,255);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

header h1 {
  color: #000000;
  font-family: Arial, sans-serif;
  font-size: 24px;
  text-decoration: none;
}
header a{
  text-decoration: none;
}


/* CSS Busca */
header .header-search {
  padding-top: 0px;
  margin-top: -3px;
  color: #fff;
}
header .header-search .search {
  width: 312px;
  position: relative;
  z-index: 13;
  color: #000000;
}
header .header-search .search .search-group {
  border: none;
  padding: 5px 0px 5px 0px;
  width: 100%;
  height: 28px;
  background-color: transparent;
  color: #fff;
}
header .header-search .search .search-group .search-input {
  width: 90%;
  height: 50px;
  font-size: 15px;
  padding: 0 32px 0px 5px;
  float: right;
  outline: none;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 2em;
  padding-left: 10px;
  border: none;
  -webkit-transition: width 0.2s ease;
  -moz-transition: width 0.2s ease;
  -o-transition: width 0.2s ease;
  transition: width 0.2s ease;
  float: left;
  background-color: rgba(212, 212, 212, 0.5);
  color: #fff;
}
header .header-search .search .search-group .search-button {
  width: 10%;
  height: 50px;
  background: transparent;
  color: #fff;
  padding: 1px 0 0 0;
  cursor: pointer;
  outline: none;
  font-size: 14px;
  border: transparent;
  float: right;
}


header nav {
  display: flex;
  align-items: center;
}

header nav a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  text-align: center;
  margin: 10px;
}

header nav img {
  width: 25;
  text-decoration: none;
  margin: 10px;
}
header nav a p{
  font-size: smaller;
}
header nav a:hover {
  color: #ccc;
}

#imgBusca{
  width: 75%;
}


/* Estilos para o conteúdo do modal */
/* Estilos para o conteúdo do modal */
.modal {
  display: none; 
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
  background-color: rgba(0, 0, 0, 0.082); 
  z-index: 999; 
}

.modal-content {
  width: 80px;
  height: 128;
  float: inline-end; /* Ajuste a largura conforme necessário */
  background-color: #fff;
  padding: 12px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza os itens horizontalmente */
}

.modal-content ul {
  margin-top: 8px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.modal-content ul li {
  margin-bottom: 10px;
}

.modal-content ul li a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
}

.modal-content ul li a:hover {
  color: #555;
}



/* Estilos para o botão de fechar o modal */
.close {
  color: #aaa; 
  float: right; 
  font-size: 12px; 
  font-weight: bold; 
}

.close:hover,
.close:focus {
  color: black; 
  text-decoration: none; 
  cursor: pointer; 
}



/* Estilo do conteúdo principal */
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10%;
  padding-right: 10%;
}

.div_titles{
  position: relative;
  clear: both;
  background-color: #dfdfdf;
  padding: 10px;
  margin-top: 50px;
  margin-bottom: 25px;
}

.titles{
  color: #000000;
}


/*Slider*/
.container {
  width: 100%;
  backdrop-filter: blur(32px);
  border-radius: 2em;
}


.container-image {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 400px;
}

.imagem {
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.imagem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.texto {
  width: 50%;
  height: 100%;
  padding: 20px;
}

.texto h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.texto p {
  font-size: 16px;
  margin-bottom: 20px;
}

.texto a {
  font-size: 16px;
  font-weight: bold;
  color: #000;
  text-decoration: none;
  border: 1px solid #000;
  padding: 10px 20px;
  border-radius: 10px;
}

.texto a:hover {
  background-color: #000;
  color: #fff;
}



.slider-wrapper {
  position: relative;
}
.slider-wrapper .slide-button {
  position: absolute;
  top: 50%;
  outline: none;
  border: none;
  height: 40px;
  width: 40px;
  z-index: 5;
  color: #fff;
  display: flex;
  cursor: pointer;
  font-size: 2.2rem;
  background: #000;
  align-items: center;
  justify-content: center;
  border-radius: 2em;
  transform: translateY(-50%);
}

.slider-wrapper .slide-button:hover {
  background: #404040;
}

.slider-wrapper .slide-button#prev-slide {
  left: -20px;
  display: none;
}

.slider-wrapper .slide-button#next-slide {
  right: -20px;
}

.slider-wrapper .image-list {
  display: flex;
  flex-direction: row;
  grid-template-columns: repeat(3, 1fr);
  font-size: 0;
  list-style: none;

  overflow-x: auto;
  scrollbar-width: none;
}

.slider-wrapper .image-list::-webkit-scrollbar {
  display: none;
}


.slider-wrapper .image-list .image-item {
  width: 100%;
}


.container .slider-scrollbar {
  width: 100%;
  display: flex;
  align-items: center;
}

.slider-scrollbar .scrollbar-track {
  background: #ccc;
  width: 100%;
  height: 2px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  position: relative;
}

.slider-scrollbar:hover .scrollbar-track {
  height: 4px;
}

.slider-scrollbar .scrollbar-thumb {
  position: absolute;
  background: #000;
  top: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  cursor: grab;
  border-radius: inherit;
}

.slider-scrollbar .scrollbar-thumb:active {
  cursor: grabbing;
  height: 8px;
  top: -2px;
}

.slider-scrollbar .scrollbar-thumb::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  bottom: -10px;
}



/*Slider*/
.secao {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
@media (max-width: 768px) {
  .secao {
      grid-template-columns: repeat(2, 1fr);
      margin: 15px;
      margin-bottom: 25%;
  }
}


/*Secao*/
.secao section {
  height: 200px;
  background-color: #000000;
  color: #fff;
  background-position: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 8px;
  
}

.secao a{
  height: 100%;
}
.secao section h2 {
  font-family: Arial, sans-serif;
  font-size: 20px;
  margin-top: 20%;
  text-align: center;
  animation: alternate;
  animation-duration: 999ms;
  color: rgb(255, 255, 255);
}
.secao section p {
  font-family: Arial, sans-serif;
  font-size: 8px;
  line-height: 1.5;
  margin: 10px;
}
.languages{
  flex-direction: row;
  display: none;
  align-items: center;
  align-content: center;
}
.langprimary{
  width: 10px;
  height: 10px;
  background: rgb(121, 98, 255);
  border-radius: 50%;
  cursor: pointer;
  float: left;
  margin-top: 8px;
  margin-right: 2px;
  margin-left: 10px;
  image-rendering: auto;
}


/* Exibe o parágrafo quando o mouse passa sobre a seção */
section p {
  display: none;
}
section:hover p {
  z-index: 1;
  display: block;
  font-size:smaller;
  color: #ccc;
  padding: 2px;
}
section:hover{
  background-color: #1c1e21;
  border-radius: 8px;
  cursor: pointer;

}

section:hover h2{
  text-align: left;
  margin: 10px;
  color: #ccc;
  margin-top: 5px;
  margin-bottom: 1px;
  text-decoration: none;
 
}

section:hover .languages{
  display: flex;
  flex-direction: row;
  
}

.clickproject{
  width: 100%;
  height: 100%;
}




/* Produtos */
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(250px, 1fr));
  gap: 20px;
}
.grid-container div {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  align-items: center;
}

.grid-container img {
  width: 50%;
  border-radius: 5px;
}

.grid-container h3 {
  margin-top: 10px;
  font-size: 1.2rem;
}

.item p {
  color: #666;
}

.valor {
  color: #007bff;
  font-weight: bold;
}

.btn-adicionar {
  background-color: #1c1e21;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  margin-top: 10px;
  cursor: pointer;
}

.btn-adicionar:hover {
  background-color: #000000;
}


/* Estilo do rodapé */
.barra-icones {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 62px;
}
.barra-icones .row-icones {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.barra-icones .row-icones img{
  margin-top: 10px;
  width: 30px;
}

footer {
  background-color: #333;
  color: #ccc;
  padding-top: 30px;
  position: relative;
  height: 250px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
footer .footer-middle {
  display: flex;
}

footer .item-list{
  margin-top: 0px;
  position: relative;
  z-index: 10;
  padding: 0px 30px 0px;
}

footer h4{
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}

footer li{
  font-weight: 400;
  font-size: 16px;
  color:rgb(117, 122, 126);
  margin: 15px 0;
  display: grid;
  cursor: pointer;
}
footer li:hover{
  color: #ddd;
}
.rodape-direitos{
  width: calc(100% - 20px);
  padding: 10px;
  margin: 0px;
  text-align: center;
}
/* Estilo responsivo para telas menores que 768px */
@media (max-width: 768px) {
  main {
      grid-template-columns: repeat(2, 1fr);
  }
}