<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro_produto</title>
    <link rel="stylesheet" href="../css/cadastro_produto.css"> 
    <script src="https://www.gstatic.com/firebasejs/10.8.1/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/10.8.1/firebase-firestore-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/10.8.1/firebase-storage-compat.js"></script>
<body>
    <header>
        <a href="../index.html"><h1>Eternal Sunshine</h1></a>
        <div class="header-search" bis_skinchecked="1">
            <form class="search" method="get" action="/catalog/">
                </div>
                
            </form>
        </div>
    </header>

    <main>
        <div class="cadastro-container">
            <h2>Cadastro Produto</h2>
            <form method="POST" onsubmit="cadastrarProduto(event)">
                <div class="form-group1">
                    <label for="image">Imagem do Produto</label>
                    <input type="file" id="image" name="image" accept="image/*" required>
                </div>
                <div class="form-group1">
                    <label for="username">Nome do Produto</label>
                    <input type="text" id="name" name="name" required>
                </div>
                <div class="form-group1">
                    <label for="price">Preço</label>
                    <input type="text" id="price" name="price" required>
                </div>
                <div class="form-group1">
                    <label for="description">Descrição</label>
                    <input type="text" id="description" name="description" required>
                </div>
                <div class="form-group1">
                    <label for="quantity">Quantidade no estoque</label>
                    <input type="number" id="quantity" name="quantity" required>
                </div>
                <div class="form-group1">
                    <label for="category">Categoria</label>
                    <select id="category" name="category">
                        <option value="Feminina">Feminino</option>
                        <option value="Maculina">Masculino</option>
                      </select>
                </div>
    
                <button type="submit">Cadastrar</button>
            </form>
        </div>
    </main>

    <script>

    const firebaseConfig = {
        apiKey: "AIzaSyDKROCfYUdEzG8gCkjVYGfHwDHsGhvu7ZA",
        authDomain: "clothingsales-2ace7.firebaseapp.com",
        projectId: "clothingsales-2ace7",
        storageBucket: "clothingsales-2ace7.appspot.com",
        messagingSenderId: "856958563843",
        appId: "1:856958563843:web:7758d4e8948316a5e44036"
    };
 
    firebase.initializeApp(firebaseConfig);
    const db = firebase.firestore();
        
    async function cadastrarProduto(event) {
        event.preventDefault(); 

       
        const nome = document.getElementById('name').value;
        const preco = document.getElementById('price').value;
        const descricao = document.getElementById('description').value;
        const quantidade = parseInt(document.getElementById('quantity').value);
        let categoria = document.getElementById('category').value; 

        const categoryElement = document.getElementById('category');
        if (categoryElement.selectedIndex >= 0) {
            categoria = categoryElement.options[categoryElement.selectedIndex].textContent; 
        }

        const imagem = document.getElementById('image').files[0]; 

        // Referência à coleção de produtos no Firestore com base na categoria selecionada
        const produtosRef = db.collection('Roupas').doc(categoria).collection('Adulto'); 

        try {
            // Faz o upload da imagem para o Storage
            const storageRef = firebase.storage().ref();
            const imagemRef = storageRef.child(`Roupas/${categoria}/${imagem.name}`);
            await imagemRef.put(imagem);

            // Obtém a URL da imagem no Storage
            const imagemURL = await imagemRef.getDownloadURL();

            await produtosRef.add({
                nome: nome,
                valor: preco,
                descricao: descricao,
                quantidade: quantidade,
                categoria: categoria,
                img: imagemURL
            });

            console.log("Produto cadastrado com sucesso!");
            alert("Produto cadastrado com sucesso!");
            // Limpar o formulário após o cadastro
            document.getElementById('name').value = '';
            document.getElementById('price').value = '';
            document.getElementById('description').value = '';
            document.getElementById('quantity').value = '';
            document.getElementById('category').selectedIndex = 0;
            document.getElementById('image').value = '';
        } catch (error) {
            console.error("Erro ao cadastrar produto: ", error);
            alert("Erro ao cadastrar produto. Por favor, tente novamente.");
        }
    }
    // Adiciona um ouvinte de eventos para o formulário de cadastro de produto
    document.querySelector('form').addEventListener('submit', cadastrarProduto);


    </script>

</body>
</html>
