<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../img/icons/vector_sol.jpg" type="image/png">
    <title>Cadastro</title>
    <link rel="stylesheet" href="../css/login.css"> 
    
    <script src="https://www.gstatic.com/firebasejs/10.8.1/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/10.8.1/firebase-firestore-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/10.8.1/firebase-auth-compat.js"></script>
</head>
<body>

    <header>
        <a href="index.html"><h1>Eternal Sunshine</h1></a>
        <div class="header-search" bis_skinchecked="1">
        </div>
    </header>

    <main>
        <div class="login-container">
            <h2>Cadastro</h2>
            <form method="POST" onsubmit="registerUser(event)"> 
                <div class="form-group">
                    <label for="username">Nome</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="endereco">Endereço</label>
                    <input type="text" id="endereco" name="endereco" required>
                </div>
                <div class="form-group">
                    <label for="cpf">CPF</label>
                    <input type="text" id="cpf" name="cpf" required>
                </div>
                <div class="form-group">
                    <label for="tel">Telefone</label>
                    <input type="tel" id="telefone" name="telefone" required>
                </div>
                <div class="form-group">
                    <label for="password">Senha</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <div class="form-group">
                    <label for="confirmPassword">Confirmar Senha</label>
                    <input type="password" id="confirmPassword" name="confirmPassword" required>
                </div>
    
                <div class="form-group">
                    <div class="register-class">
                        <h3>Já tem uma conta? </h3><a href="../login.html"><h3> Fazer Login</h3></a>
                    </div>
                    
                </div>
          
                <button type="submit">Cadastrar</button>
            </form>
        </div>
    </main>

     <script>
         const firebaseConfig = {
            apiKey: "AIzaSyDKROCfYUdEzG8gCkjVYGfHwDHsGhvu7ZA",
            authDomain: "clothingsales-2ace7.firebaseapp.com",
            projectId: "clothingsales-2ace7",
            storageBucket: "clothingsales-2ace7.appspot.com",
            messagingSenderId: "856958563843",
            appId: "1:856958563843:web:7758d4e8948316a5e44036"
        };
 
         firebase.initializeApp(firebaseConfig);
         const db = firebase.firestore();
 
         function registerUser(event) {
             event.preventDefault(); // Impede o envio padrão do formulário
             
             const email = document.getElementById('email').value;
             const password = document.getElementById('password').value;
             const username = document.getElementById('username').value;
             const endereco = document.getElementById('endereco').value;
             const cpf = document.getElementById('cpf').value;
             const telefone = document.getElementById('telefone').value;
             const role = 2;
 
             // Verifica se as senhas coincidem
             const confirmPassword = document.getElementById('confirmPassword').value;
             if (password !== confirmPassword) {
                 alert("As senhas não coincidem!");
                 return;
             }
 
             // Cria o usuário no Firebase Authentication
             firebase.auth().createUserWithEmailAndPassword(email, password)
                 .then((userCredential) => {
                     // Sucesso no cadastro
                     const user = userCredential.user;
                     console.log('Usuário cadastrado:', user);
 
                     // Salva os dados adicionais no Firestore
                     return db.collection('usuarios').doc(user.uid).set({
                         username: username,
                         email: email,
                         endereco: endereco,
                         cpf: cpf,
                         telefone: telefone,
                         role: role
                     });
                 })
                 .then(() => {
                     // Redireciona para a página de login após o cadastro
                     window.location.href = "../login.html";
                 })
                 .catch((error) => {
                     // Tratar erros de cadastro
                     const errorCode = error.code;
                     const errorMessage = error.message;
                     console.error('Erro no cadastro:', errorMessage);
                     alert(errorMessage);
                 });
         }
     </script>
    
</body>

</html>
