<html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" type="text/css" href=".././css/catalog.css">
    <title>Catalogo</title>
    <link rel="icon" href="img/icons/EternalSunshine.png" type="image/png">
    <!-- Inclua os scripts do Firebase diretamente no HTML -->
    <script src="https://www.gstatic.com/firebasejs/10.8.1/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/10.8.1/firebase-firestore-compat.js"></script>
</head>
<body>
    <header>
        <h1><a href="../index.html"><h1>Eternal Sunshine</h1></a></h1>
        <div class="header-search" bis_skinchecked="1">
            <form class="search" method="get" action="/catalog/">
                <div class="search-group" >
                    <input id="input-search" type="search" autocomplete="off" class="search-input search-suggestion-input" placeholder="O que você procura?">
                <button class="search-button" type="submit" onclick="">
                </button>
                </div>
                
            </form>
        </div>
        <nav>
            <a href="lista_carrinho.html"><img src="../img/icons/ic_sacola.png"></a>
            <a><img src="../img/icons/ic_account.png" id="openModalBtn"><p id="name-user"></p></a>
        </nav>
    </header>
    
    <div class="content">
        <main>

            <div class="div_titles">
                <h1 align="center" class="title-1"></h1>
            </div>

            <div id="resultados" class="grid-container">
                    <!-- Cada item de roupa -->
                    <div class="item">
                        <img id="imagem-roupa-1" alt="Roupa 1">
                        <h3>Roupa 1</h3>
                        <p class="valor">$29.99</p>
                        <button class="btn-adicionar">Adicionar ao Carrinho</button>
                    </div>
                    <!-- Outros itens de roupa aqui -->
            </div>

        </main>
    </div>


     <script src="../script/catalog.js"></script>

</body>

</html>
