<html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" type="text/css" href=".././css/catalog.css">
    <title>Catalogo</title>
    <link rel="icon" href="img/icons/EternalSunshine.png" type="image/png">
    <!-- Inclua os scripts do Firebase diretamente no HTML -->
    <script src="https://www.gstatic.com/firebasejs/10.8.1/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/10.8.1/firebase-firestore-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/10.8.1/firebase-auth-compat.js"></script>
    
</head>
<body>
    <header>
        <h1><a href="../index.html"><h1>Eternal Sunshine</h1></a></h1>
        <div class="header-search" bis_skinchecked="1">
            <form class="search" method="get" action="/catalog/">
                <div class="search-group" >
                    <input id="input-search" type="search" autocomplete="off" class="search-input search-suggestion-input" placeholder="O que você procura?">
                <button class="search-button" type="submit" onclick="">
                    <img id="imgBusca" src="../img/icons/procurar.png">
                    </button>
                </button>
                </div>
                
            </form>
        </div>
        <div class="header-nav-class">
            <nav>
                <a href="lista_carrinho.html"><img src="../img/icons/ic_sacola.png"></a>
                <div id="user-image"></div>
                <a href="./view/login.html"><img src="../img/icons/ic_account.png?" href="login.html" id="image-user"></a>
            </nav>
        </div>
    </header>
    <nav class="main-navbar">
        <div class="container">
            <!-- menu -->
            <ul class="main-menu">
                <li><a href="#">Home</a></li>
                <li><a href="women.html">Women</a></li>
                <li><a href="men.html">Men</a></li>
                <li><a href="shoes.html">Shoes</a>
                </li>
         
            </ul>
        </div>
    </nav>


    <!-- Modal -->
    <div class="modal" id="myModal">
        <div class="modal-content">
            <ul>
                <li><a href="./view/perfil.html">Perfil</a></li>
                <li><a href="#" id="btnSignOut" onclick="signOut()"></a></li>
            </ul>
        </div>
    </div>
    <script>// Exibe o modal
        const openModalBtn = document.getElementById('user-image');
        const modal = document.getElementById('myModal');
        openModalBtn.addEventListener('click', function() {
            modal.style.display = 'block'; 
        });// Oculta o modal
        window.addEventListener('click', function(event) {
            if (event.target === modal) {
                modal.style.display = 'none'; 
            }
        });
    </script>
    
    <div class="content">
        <main>

            <div class="div_titles">
                <h1 align="center" class="title-1"></h1>
            </div>

            <div id="resultados" class="grid-container">
                    <!-- Cada item de roupa -->
                    <div class="item">
                        <img id="imagem-roupa-1" alt="Roupa 1">
                        <h3>Roupa 1</h3>
                        <p class="valor">$29.99</p>
                        <button class="btn-adicionar">Adicionar ao Carrinho</button>
                    </div>
                    <!-- Outros itens de roupa aqui -->
            </div>

        </main>
    </div>


     <script src="../script/catalog.js"></script>

</body>

</html>
