<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="img/icons/EternalSunshine.png" type="image/png">

  <title>Eternal-sunshine</title>
  <link rel="stylesheet" href="../css/lista_carrinho.css" />
  <script src="https://www.gstatic.com/firebasejs/10.8.1/firebase-app-compat.js"></script>
  <script src="https://www.gstatic.com/firebasejs/10.8.1/firebase-firestore-compat.js"></script>
  <script src="https://www.gstatic.com/firebasejs/10.8.1/firebase-auth-compat.js"></script>
</head>

<body>
  <header>
    <a href="../index.html"><h1>Eternal Sunshine</h1></a>
    <div class="header-search" bis_skinchecked="1">
    </div>
</header>
    <main>
      <h1 class="page-title">Seu Carrinho</h1>
      <div class="container">
        <section>
          <div class="empty-cart"> 
            <div class="emot">
              <img src="https://public-resources.zordcdn.com.br/assets/global/checkout-v2/empty-cart-new.svg" 
              width="426" height="280" alt="Carrinho de compras">
            </div> 
              <h3>Carrinho vazio</h3>
              <p class="txt-empty">
              Que tal olhar nossos produtos e receber seu pedido na porta de casa?</p>
              <a href="../index.html" id="voltar">Voltar as compras</a>
          </div>
        </section>
        
      </div>

      <div class="box-extern">
        <div class="box" id="box-products">
          <header>Resumo da compra</header>
          <div class="info">
            <div><span>Sub-total</span><span>R$ 00</span></div>
            <div><span>Frete</span><span>Gratuito</span></div>
          </div>

          <footer>
              <span>Total</span>
              <span id="total">R$ 00</span>
          </footer>
         </div>
         <button id="btn-finalizar">Finalizar Compra</button>
      </div>
      
    </main>

    <script src="../script/lista_carrinho.js"></script>


<footer>
  <div class="footer-middle">
              <div class="item-list">
                  <h4>Central de Ajuda</h4>
                  <ul>
                      <li>Seg. a Sex. das 7:30 às 17:20</li>
                      <li>(47) 3309-0200</li>
                      <li>(47) 99245-6929</li>
                      <li>eternal-sunshine@gmail.com</li>
                  </ul>
              </div><br>

              <div class="item-list">
                  <h4>Informações</h4>
                  <ul>
                      <li>Meus Pedidos</li>
                      <li>Seja um Revendedor</li>
                      <li>Sobre a Eternal-sunshine</li>
                      <li>Programa de Cashback</li>
                  </ul>
              </div><br>

              <div class="item-list">
                  <h4>Destaques</h4>
                  <ul>
                      <li>Seg. a Sex. das 7:30 às 17:20</li>
                      <li>(47) 3309-0200</li>
                      <li>(47) 99245-6929</li>
                      <li>eternal-sunshine@gmail.com</li>
                  </ul>
              </div>
  </div>
  <br>
  <p class="rodape-direitos">Eternal Sunshine todos os direitos reservados © 2024</p>
</footer>

  </body>
</html>