<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="img/icons/vector_sol.jpg" type="image/png">

  <title>Eternal-sunshine</title>
  <link rel="stylesheet" href="../css/lista_carrinho.css" />
</head>

<body>
    <header>
        <a href="../index.html"><h1>Eternal Sunshine</h1></a>
        <div class="header-search" bis_skinchecked="1">
        </div>
    </header>
    <main>
      <div class="page-title">Seu Carrinho</div>
      <div class="container">
      <div class="empty-cart">  <div class="emot"><img src="https://public-resources.zordcdn.com.br/assets/global/checkout-v2/empty-cart-new.svg" 
        width="426" height="280" alt="Carrinho de compras"></div>  <h2>Carrinho vazio</h2><p class="txt-empty">
        Que tal olhar nossos produtos e receber seu pedido na porta de casa?
    </p><a href="../index.html" class="button button-small button-success">Voltar as compras</a></div>
    </div>
  </main>
  </body>
</html>