<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagamento</title>
    <link rel="stylesheet" href="../css/pagamento.css"> 
    <link rel="icon" href="img/icons/EternalSunshine.png" type="image/png">
    <link rel="stylessheet" href="../css/pagamento.css">
</head>
<body>
    <header>
        <a href="../index.html"><h1>Eternal Sunshine</h1></a>
        <div class="header-search" bis_skinchecked="1">
        </div>
    </header>
    <h1>Finalizar compra</h1>
    <div class="compra-container">
    <form action="url_para_enviar_dados_do_formulario" method="post">
        <fieldset>
            <h2>Endereço para entrega</h2>
                <div class="form-group">
                    <label for="nome">Nome: <span>*</span></label>
                    <input type="text" name="nome" id="nome" required>
                </div>

                <div class="form-group>
                    <label for="sobrenome">Sobrenome: <span>*</span></label>
                    <input type="text" name="sobrenome" id="sobrenome" required>
                </div>

                <div class="form-group>
                    <label for="endereco">Endereço: <span>*</span></label>
                    <input type="text" name="endereco" id="endereco" required>
                </div>

                <div class="form-group>
                    <label for="cep">CEP: <span>*</span></label>
                    <input type="text" name="cep" id="cep" required>
                </div>
                <div>
                    <label for="pais">Estados</label>
                    <div class="select-wrapper">
                        <select name="pais" id="pais">
                            <option value="angola">Acre</option>
                            <option value="angola">Alagoas</option>
                            <option value="angola">Amapá</option>
                            <option value="brasil">Amazonas</option>
                            <option value="portugal">Bahia</option>
                            <option value="timor-leste">Pará</option>
                            <option value="timor-leste">Rio de Janeiro</option>
                        </select>
                    </div>
                    <!--<label for="pais">Cidade</label>
                    <div class="select-wrapper">
                        <select name="pais" id="pais">
                            <option value="angola">Angola</option>
                            <option value="angola">Alemanha</option>
                            <option value="angola">A</option>
                            <option value="brasil">Brasil</option>
                            <option value="portugal">Portugal</option>
                            <option value="timor-leste">Timor-Leste</option>
                        </select>
                    </div>-->
            </div>
            <h2>Opção de envio</h2>
            <div class="radio">
                <input type="radio" name="opcao-envio" id="normal" value="normal">
                <label for="normal">Normal</label>
            </div>
            <div class="radio">
                <input type="radio" name="opcao-envio" id="expresso" value="expresso">
                <label for="expresso">Expresso</label>
            </div>
            <h2>Forma de pagamento</h2>
            <div class="container-modal">
                <img id="myIgm" src="" alt="" style="width: 100%; max-width: 300px">
                <div id="myModal" class="modal">
                    <div class="image"><img src="../img/icons/PIX.jpg"></div>
                    <div class="image"><img src="../img/icons/bandeiras-de-cartao-de-credito.jpg"></div>
                </div>
            </div>
            <!-- <div class="popup-image">
                <span>&times;</span>
                <img src="../img/icons/PIX.jp" alt="">
            </div>
            <script>
                document.querySelectorAll('.container-modal img').forEach(Image =>{
                    image.onclick = () =>{
                        document.querySelector('.popup-image').style.display = "block";
                        document.querySelector('.popup-image img').src = image.getAttribute('src');
                    }
                });
                document.querySelector('.popup-image span').onclick = () =>{
                    document.querySelector('.popup-image').style.display = "none";
                }
            </script> -->
            <button type="submit">Finalizar</button>
        </div>
        </fieldset>
    </form>
  
</main>
</body>
</html>